$base-font-family         : "Montserrat", sans-serif;
$base-font-size         : 10px;
$base-bg                : #2A2A2D;
$text-white             : #ffffff;

$color-yellow       : #FFE457;

$header-bg          : #FED761;   
$white              : #ffffff;

$button-bg          :$color-yellow;
$button-text        : #3B3B3D;

$bottom-nav-bg      : #464646;